<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>EchoSim Web</display-name>
  <servlet>
    <servlet-name>javax.ws.rs.core.Application</servlet-name>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>EchoSimServlet</servlet-name>
    <servlet-class>jo.alexa.sim.web.EchoSimServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EchoSimServlet</servlet-name>
    <url-pattern>/echosim</url-pattern>
  </servlet-mapping>
</web-app>